*{padding:0; margin:0}
.calender{width:300px; margin:45px auto; top:0; left:0; border:1px #D6D6D6 solid; background:#EBEBEB; position:absolute; display:none; z-index:999;}
.calendertb{width:100%;}
.calendertb td{width:35px; height:35px;border:1px #fff solid; text-align:center; vertical-align:middle; cursor:pointer; font-size:1em; font-weight:bold;}
.calendertb td.hover,.calendertb td.weekendhover{background:#fff;}
.calendertb th{width:35px; height:30px;border:1px #fff solid; text-align:center; vertical-align:middle; cursor:pointer; color:#979797; }
.tdtoday{ background:#ccc;color:#fff;width:35px; height:35px;border:1px #CCCCCC solid; text-align:center; vertical-align:middle; cursor:pointer; font-size:14px; font-weight:bold;}
.getyear{  width:100%; text-align:center;padding: 2% 2% 2% 2%;}
.preMonth{ font-size:1em; font-weight:bold; cursor:pointer; margin-right:18px;color:#000;}
.nextMonth{ font-size:1em; font-weight:bold; cursor:pointer; margin-left:18px;color:#000;}
.mh_date{width:300px; height:30px; line-height:30px; padding:5px; border:1px #ccc solid; cursor:pointer; background:url(../img/rili.png) no-repeat right center;background-size:7% 80%;}
.mh_date2{width:300px; height:30px; line-height:30px; padding:5px; border:1px #ccc solid; cursor:pointer; background:url(../img/rili.png) no-repeat right center;background-size:7% 80%}
.zhezhao{width:100%; height:100%; position:fixed; z-index:998;	background:#fff;filter:alpha(opacity=10);opacity:0.1; display:none; }