body{cursor: pointer;height: 144px;}
.swiper-container {width: 100%;position: absolute;top: 144px;}
.swiper-container img{width: 100%;left: 0;}
body{padding: 0;margin: 0;border: 0;text-align: center}
.swiper-slide{overflow: hidden;}
.swiper-slide_1{background-color: #444;}
#nav{width:100%;border: -1px solid #444444;height: 44px;line-height: 44px;text-align: center;margin: auto;overflow: -hidden;cursor: pointer;margin-top: 0px;margin-bottom: 20px;font-size: 18px;font-weight: bolder;position: fixed;z-index: 2;padding-left: 15%;padding-right: 15%;top:100px;background:url(../img/nav-bg.jpg);}
.nav_css_small{width: 14.2857%;float: left;border: -1px solid #222;color: #fff;font-size: 18px;height: 100%;line-height: 44px;font-size: 14px;}
.nav_css_small_1{color: #aaa;}
#top{text-align: left;padding-left: 5%;padding-right: 20%;line-height: 100px;width: 100%;background:url(../img/top-bg.png);height: 100px;position: absolute;top: 0;z-index: 2;}
#scroll_top{color: #fff;font-size: 20px;display: -block;}
#scroll_top img{height:80px;margin-right: ;}
#move_div{border: -1px solid red;width: 16.6667%;height: 100%;position: absolute;z-index: -1;background-color: -red;border-radius: -20px;bottom:0;background-image: url(../img/move.png);background-size: 100% 100%;}
#model_div{width: 100%;height: 100%;background-color: #222;opacity: 0;z-index: -1;position: absolute;}
.swiper-scrollbar{height: 10px;}
#goods_small{position: absolute;top: ;margin-top: 60px;width: 60%;text-align: center;margin-left: 20%;}
#goods_small>div{float: left;width: 16.66666%;border-bottom: 1px solid #AAA;overflow: hidden;}
#goods_small img{width: 90%;padding: 10%;}
.goods_small_model{top: 50%;position: absolute;width: 16.66666%;height: 50%;background-color: -#000;background:url(../img/top-bg.png);opacity: 0;color:#fff}
.msg_to_us{height: ;width: 30%;z-index: 20;position: fixed;background-color: -red;right: 20%;top: 144px;border-radius: -20px;overflow: hidden;display: none;}
.msg_to_us_model{width: 100%;height: 100%;background:url(../img/nav-bg.jpg);opacity:;position: absolute;top: 0;right: 0;z-index: 2;}
.msg_to_us_table{color: #FFF;z-index: 3;position: absolute;width: 100%;display: flex;align-items: center;}
.img_div{width: 50%;margin-top: %;}
.img_div div{margin-top: 14%;margin-bottom: 10%;}
.img_div img{width: 60%;height: %;}

.msg_shouji{border: -1px solid red;width: 100%;padding-left: 10%;}
.msg_to_us_table span{margin-right: 20px;}
.xiangqing{position: absolute;width: 100%;text-align: center;overflow: -hidden;}
.xiangqing>img{width: 100%;text-align: center;}
.footer{border: -1px solid red;position: absolute;width:100%;margin-top: 0%;padding: 2% 5% 2% 5%;background:url(../img/top-bg.png);color: #aaa;}
.glyphicon{margin-left: 10px;margin-right: 10px;}
.footer img{width:50%;}
.footer a{color: #19aa65;}
/*b{color: #19aa65;}*/
.bottom_big_up{border-bottom: -2px solid #AAA;width: 100%;height: 30px;margin-top:40px ;color: #AAA;}
.bottom_big_down{border-bottom: -2px solid #AAA;width: 100%;height: 150px;margin-bottom: 40px;}
.bottom_title{width: 25%;border: -1px solid red;float: left;height: 100%;}
.content_font img{width: 100%;height: 100%;}
.buyonline{position: absolute;text-align: center;z-index: -1;top: 60px;opacity: 0;width: 100%;display: none;}
.modle_buy{position: fixed;background-color: -#000;top: 0;border: -1px solid red;opacity: -0.8;background:url(../img/nav-bg.jpg);opacity:1;}
.buy_good{float: left;border: -1px solid royalblue;width: 20%;margin-top: 2%;margin-bottom: 2%;}
.clear_div{clear: both;}
.buy_good img{width: 80%;}
.buy_goods{position: absolute;border: -1px solid royalblue;width: 80%;left: 10%;}
.buy_div{border: 2px solid #fff;width: 100%;height: auto;background-color: #fff;}
.buy_btn{border: -1px solid #F0CAB6;padding: 2%;color: #E5511D;width: 80%;margin-top: 2%;margin-bottom:2% ;border-radius: 5px;opacity: 1;background-color: #FFE4D0;font-size: 10px;}
.exit_btn{position: fixed;border: -1px solid red;color: #E5511D;padding: 1% 1% 1% 1%;right: 0;top: 60px;width: 10%;background-color: #fff;}
.exit_btn div{border: 1px solid #E5511D;padding: 10% 10% 10% 10%;left: 0;bottom: 100px;width: 100%;border-radius: 10px;margin-top: 10%;}
.title_css{border-bottom: 1px solid red;color: #fff;padding: 1% 1% 1% 1%;left: -10%;top: 0;background-color: #fff;color: #E5511D;font-size: 20px;opacity: 1;}
#icon_home{position: absolute;width: 44px;height: 44px;float: left;color: #fff;line-height: 44px;left:10%}
#goods_small>div>a:hover{color: :#FFE4D0;}
#goods_small>div>a{color: :#FFF;}
.exit_btn div:hover{background-color: #FFE4D0;}
.swiper-button-prev{background: -#eee;}

.bottom_title a{color: #fff;}
.bottom_title a:hover{color:#aaa;text-decoration: none;}

/*自定义分液器*/
.swiper-pagination-bullet{    
	width: 120px;
    height: 10px;
    display: inline-block;
     border-radius: 0%; 
    opacity: .2;
    }
.swiper-button-next, .swiper-button-prev{
	height: 100%;width: 20%;top:0;
	opacity: 0.1;
}
/*.swiper-button-next{background: url(../img/swiper-button-next.png);}
.swiper-button-prev{background: url(../img/swiper-button-prev.png);}*/
.swiper-button-next:hover, .swiper-button-prev:hover{
	opacity: 0.8;
}
