body{text-align: center;}
.nav{height: 100%;border: -1px solid red;background-color:#000;position: fixed;z-index: 2000;top: 0;}
.main_title{color: #fff;}
.nav_left{width: 50%;border: - solid #0000FF;float: left;height: 100%;text-align: left;}
.nav_left img{height: 80%;}
.nav_right img{height: 80%;}
.nav_right{width: 50%;border: -1px solid #0000FF;float: left;height: 100%;text-align: right;}
.sub_nav{width: 100%;border: -1px solid red;position: fixed;background-color: #fff;z-index: 300;overflow: hidden;height: 0;opacity: 0.8;}
.swiper-container img{width: 100%;}
.content_img{width: 100%;}
.small_img{width: 50%;}
.footer img{width:50%;text-align: center;}
.bottom_big_up{border-bottom: -2px solid #AAA;width: 100%;height: 30px;margin-top:40px ;}
.bottom_big_down{border-bottom: -2px solid #AAA;width: 100%;height: 200px;margin-bottom: 40px;}
.bottom_title{width: 25%;border: -1px solid red;float: left;height: 100%;}
.small_img_div{width: 30%;float: left;border-bottom: 2px solid #aaa;margin: 1%;overflow: hidden;}
.small_img_div_big{margin-left: 5%;border: -1px solid blue;}
/*background-image: url(../img/border-image.png);*/
.goods_small_model{border: -1px solid #AAA;display: block;z-index: 20;height: 50%;background-image: url(../img/border-image.png);color: #fff;}
.big_div{border: -1px solid red;}
.sub_nav_small{width: 100%;height:13%;border: -1px solid red;color: #000;}
.sub_nav_small_bottom{width: 100%;height:9%;border: -1px solid red;background-color: #000;color: #fff;}
.swiper-button-next{opacity: 0;}
.swiper-button-prev{opacity: 0;}
.logo_model2{width: 80%;margin-top: 10%;}
.logo_model{width: 50%;}
.load_div{background-color: #fff;border:-1px solid red;width: 100%;position: fixed;z-index: 10000;left: 0;padding-top: 50%;height: 100%;top:0}
.buyonline{position: absolute;z-index: 6000;border: -1px solid red ;width: 100%;border-radius: ;opacity: 0;z-index: -100;top: 50px;}
.buy_model{width: 100%;height: 100%;position: fixed;top: 0;left: 0;background-color: #000;opacity: 0.5;z-index: -8;}
.buy_goods{background-color: #fff;width: 90%;margin-left: 5%;}
.buy_title{width: 90%;margin-left: 5%;color:#E5511D;padding: 2% 2% 2% 2%;border-bottom: 1px solid #e5511d;}
.buy_good{width: 40%;margin: 10px 5% 0 5%;float: left;background-color: #fff;}
.buy_good img{width: 100%;}
.buy_btn{width: 80%;color: ;padding: 5% 2% 5% 2%;border: 1px solid rgb(240, 202, 182);border-radius: 10px;margin-left: 10%;background-color: #FFE4D0;color: #E5511D;margin: 5% auto 5% 10%;}
.clearboth{clear: both;}
.close_btn{color: #E5511D;padding: 2% 10% 2% 10%;width: 90%;border:1px solid #FFE4D0;margin-left: 5%;position: fixed;bottom: 10px;background-color: #fff;border-radius: ;}
.Message{display: none;}
.bottom_div_active{background-color: #000;color: #fff;}
.message{width: 100%;border: -1px solid red;position: fixed;top: 0;background-color: #fff;opacity: 1;color: #000;z-index: -33;opacity: 0;}
.sub_message{width: 100%;;border: -1px solid blue;}
.sub_message span{display: block;width: 50%;float: left;text-align: left;}
.btn_zdl{height: 10%;padding: 4% 20% 4% 20%;border-radius: 20px;color: #000;border: 1px solid #000;}
.nomore{border: 0;margin-bottom: 12%;}
.img_div img{width: 50%;}
.img_div{width: 100%;margin-top: ;margin-bottom: 1%;}
