.main_div_big{border:-1px solid red;width: 100%;}
.menu_div_css{border:-1px solid #aaa;width: 100%;display: flex;align-items: center;justify-content: space-between;border-bottom: 1px solid #AAA;}
.div_img{height: 100%;float: left;}
.menu_div_group{height: 100%;border: -1px solid blue;width: 50%;float: left;}
.input_select{float: left;margin: 0;}
/*#all_select{margin: 0;}*/
.menu_p_price{color: red;}
.menu_edit{border: 1px solid ;}
.menu_div_p{margin:0;padding: 0;}
.menu_add{float: right;}
.menu_bottom{border: -1px solid red;position: fixed;bottom:0;background-color: #eee;display: flex;align-items: center;justify-content: space-around;text-align: center;border-top: 1px solid -#aaa;z-index: 190;}
.menu_delete{margin-left: ;border: -1px solid #AAA;}
.input_select_small{display: none;float: right;}
.model_css{background-color: #000;opacity: 0.5;position: fixed;width: 100%;height: 100%;z-index: 20;}
.div_table{background-color: #fff;position: fixed;text-align: center;width: 90%;left: 5%;top:10%;padding-bottom: 5%;z-index: 30;}
.menu_bottom span{width: 25%;border-left: -1px solid #aaa;}
.input_name{width: 90%;margin: auto;border: 1px solid #AAA;}
#input_name{width: 60%;margin: 0;border: 0;padding: 0;height:90%;}
.input_price{width: 90%;margin: auto;border: 1px solid #AAA;}
#input_price{width: 60%;margin: 0;border: 0;padding: 0;height: 90%;}
.table_img{width: 30%;margin: auto;}
.table_img img{width: 100%;}
.table_title{border-bottom: 1px solid #AAA;width: 80%;margin: auto;}
.span_delete{width: 40%;float: left;border-radius: 90px;}
.span_save{width: 40%;float: right;border-radius: 90px;}
.table_btn{width: 100%;margin: auto;display: flex;justify-content: space-around;}
.model_big{display: none;z-index: 200;}
.model_big_add{display: none;}
.span_add{width: 90%;background-color: #F05F70;border-radius: 90px;}

