.shuoming{color: ;}
#myarea{resize: none;}
.info_css{text-align: right;}
.div_btn{text-align: center;position: fixed;}
.btn-warning1{text-align: center;position: fixed;background-color: #b5e1e4;}
.tishi{color:red;display: none;}
